Give me a one two three.
{{#at:list1}}
  {{at}}
{{/}}
  Give me a four five six.
  {{#at:list2}}
    {{at}}
  {{/}}

Give me a {{#at:list3}}{{at}}{{/}} (seven eight nine).
  Give me a {{#at:list4}}{{at}}{{/}} (TEN!).

Give me an abc.
{{#at:list5}}
  {{*at}}
  {{at.value}}
  {{value}}
{{/}}
  Give me an abc.
  {{#at:list5}}
    {{*at}}
    {{at.value}}
    {{value}}
  {{/}}

Should render blank lines between each of these:
{{#at:list1}}
  {{at}}

{{/}}
  {{#at:list1}}
    {{at}}

  {{/}}

Should render each on its own line:
{{#at:list1}}{{at}}{{/}}
  {{#at:list2}}{{at}}{{/}}

Nothing to see here.
{{#nothing1}}
  Seriously, nothing to see here.
{{/}}

Nothing to see here either.
{{#nothing2}}Foo{{/}}
  {{#nothing3}}Bar{{/}}

Done!
