On separate lines:
{{#inner}}
  {{@}}
{{/}}
...
  {{#inner}}
    {{@}}
  {{/}}
On a single line:
{{#inner}}{{@}}{{/}}
...
  {{#inner}}{{@}}{{/}}
Not found:
{{?notFound}}
  Nothing to see here.
{{/}}
  {{?notFound}}
    Nothing to see here.
  {{/}}
{{?notFound}}What?{{/}}
  {{?notFound}}What?{{/}}
