{{?one}}one{{/one}}
{{?one.foo}}one.foo{{/one.foo}}
{{?one.bar}}one.bar{{/one.bar}}
{{?one.baz}}one.baz{{/one.baz}}
{{?two}}two{{/two}}
{{?two}}{{?foo}}two inherit?{{/foo}}{{/two}}
{{#two}}{{?foo}}two inherit#{{/foo}}{{/two}}
{{?two.foo}}two.foo{{/two.foo}}
{{?two.bar}}two.bar{{/two.bar}}
{{?two.baz}}two.baz{{/two.baz}}
{{?three}}three{{/three}}
{{?three.foo}}three.foo{{/three.foo}}
{{?three.bar}}three.bar{{/three.bar}}
{{?three.baz}}three.baz{{/three.baz}}
