null:
{{?null}}null{{/}}

booleans:
{{?booleans.true}}boolean.true{{/}}
{{?booleans.false}}boolean.false{{/}}

numbers:
{{?numbers.zero}}numbers.zero{{/}}
{{?numbers.one}}numbers.one{{/}}

strings:
{{?strings.empty}}strings.empty{{/}}
{{?strings.nonempty}}strings.nonempty{{/}}

arrays:
{{?arrays.empty}}arrays.empty{{/}}
{{?arrays.nonempty}}arrays.nonempty{{/}}

objects:
{{?objects.empty}}objects.empty{{/}}
{{?objects.nonempty}}objects.nonempty{{/}}
