<html>
<style>
@media only screen and (max-width: 580px){.button{margin:20px 0}}
{{name}}
</style>
<style>@media only screen and (max-width: 580px){.button{margin:20px 0}}</style>
<h1>My name is {{name}}</h1>
<style>@media only screen and (max-width: 580px){.button{margin:20px 0}}</style>
</html>
