// Variables.
Some boolean values -{{?t value/}} -{{?f value/}} -{{?t object.x/}} -{{?f object.x/}}.
Inverted: -{{^t value/}} -{{^f value/}} -{{^t object.x/}} -{{^f object.x/}}.
Other conditions: -{{?value value/}} -{{^value value/}}.
List: -{{#at:list at/}} -{{#list value/}}.
Object: -{{#o:object o.x/}} -{{?object object.x/}} -{{^object object.x/}}.
Object list: {{#at:objectList at.x/}}.

// Partials.
Some partials:
{{?t +partials.p1 arg1: foo
                  arg2: bar /}}
{{?f +partials.p1 arg1: foo
                  arg2: bar /}}
{{^t +partials.p1 /}}
{{^f +partials.p1 /}}

// JSON.
Some JSON: -{{?t *list /}} -{{?f *list /}} -{{^t *list /}} -{{^f *list /}}
